{{define "header"}}
<header class="w-full px-3 xs:px-6 py-4
	flex justify-between items-center
	border-b-2 {{if .IsDarkmode}}border-gray-600{{else}}border-gray-300{{end}}
	shadow-xl
	fixed top-0 left-0
	bg-gray-800">
	<div class="flex flex-row justify-start items-center">
		<img style="max-width: 56px;" class="w-12" src="{{.IMG_logo}}" alt="la logo" >
		<div class="flex flex-col">
			<h1 class="text-md tracking-tight italic
			text-gray-{{if .IsDarkmode}}300{{else}}800{{end}}
			leading-none">
				Lucas Almeida
			</h1>
			<h2 class="text-md text-ad_orange tracking-wide">
				{{.Title}}
			</h2>
		</div>
	</div>
	<button
		id="mobile-menu-btn"
		style="min-width: 30px; height: 30px;"
		class="flex flex-col justify-evenly items-center
		border-gray-{{if .IsDarkmode}}300{{else}}800{{end}}
		cursor-pointer
		lg:hidden">
		<div style="min-width: 24px; height: 3px" class="rounded {{if .IsDarkmode}}bg-gray-300{{else}}bg-gray-800{{end}}"></div>
		<div style="min-width: 24px; height: 3px" class="rounded {{if .IsDarkmode}}bg-gray-300{{else}}bg-gray-800{{end}}"></div>
		<div style="min-width: 24px; height: 3px" class="rounded {{if .IsDarkmode}}bg-gray-300{{else}}bg-gray-800{{end}}"></div>
	</button>
	<div
	class="mn:hidden lg:flex flex-row justify-evenly items-center space-x-3">
		<button id="toggle-visualmode-btn" style="width: 40px; height: 40px">
			<img style="width: 100%;" src="{{if .IsDarkmode}}{{.IMG_moon}}{{else}}{{.IMG_sun}}{{end}}" alt="">
		</button>
		<button id="toggle-lang-btn" style="width: 40px; height: 40px" class="rounded-full">
			<img style="width: 100%;" src="{{if eq .Lang "en"}}{{.IMG_en}}{{else}}{{.IMG_pt}}{{end}}" alt="">
		</button>
	</div>
</header>
{{end}}