{{define "index"}}
<!DOCTYPE html>
<html lang="{{.Lang}}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="
	{{if eq .Lang "en"}}
		My name is Lucas Almeida, I'm a software developer with 4+ years of web developement experience. I have also worked as tech lead and teacher. On my free time I like to create libraries, CLIs and parsers.
	{{else}}
		Me chame Lucas Almeida, sou um desenvolvedor de software com 4+ anos de experiência em desenvolvimento web. Também já trabalhei como líder técnico e instrutor. No meu tempo livre gosto de criar bibliotecas, CLIs e parsers.
	{{end}}">
	<title>Lucas Almeida Dev</title>
	<style>{{.Styles}}</style>
	<script>{{.HTMX}}</script>
	<script>
		const url = window.location.href
		const queryParams = new URLSearchParams(url.split('?')[1])
		const mode = queryParams.get('visualmode')
		const lang = queryParams.get('lang')
		if (!mode) {
			const savedMode = localStorage.getItem('visualmode')
			if (savedMode) {
				if (!['dark', 'light'].includes(savedMode)) {
					localStorage.setItem('visualmode', 'dark')
					savedMode = 'dark'
				}
				queryParams.set('visualmode', savedMode)
				window.location.href = '?' + queryParams.toString()
			} else {
				localStorage.setItem('visualmode', 'dark')
				queryParams.set('visualmode', 'dark')
				window.location.href = '?' + queryParams.toString()
			}
		}
		if (!lang) {
			const savedLang = localStorage.getItem('lang')
			if (savedLang) {
				if (!['en', 'pt'].includes(savedLang)) {
					localStorage.setItem('lang', 'en')
					savedLang = 'en'
				}
				queryParams.set('lang', savedLang)
				window.location.href = '?' + queryParams.toString()
			} else {
				localStorage.setItem('lang', 'en')
				queryParams.set('lang', 'en')
				window.location.href = '?' + queryParams.toString()
			}
		}
	</script>
</head>

<body
class="
{{if .IsDarkmode}}
	text-gray-100 bg-gray-800
{{else}}
	text-gray-700 bg-gray-100
{{end}}
leading-none font-mono">
	{{template "header" .}}
	<div id="menu-overlay">
		<button id="close-overlay-btn"></button>
		<div
		class="w-full h-full flex flex-col justify-start items-center
		pt-8 pb-4 px-4">
			<div
			class="w-full
			flex flex-col justify-start items-end mt-24 space-y-6">
				<button id="toggle-visualmode-btn-mobile" style="width: 40px; height: 40px" class="rounded-full shadow-md">
					<img style="width: 100%;" src="{{if .IsDarkmode}}{{.IMG_moon}}{{else}}{{.IMG_orange_sun}}{{end}}" alt="">
				</button>
				<button id="toggle-lang-btn-mobile" style="width: 40px; height: 40px" class="rounded-full shadow-md">
					<img style="width: 100%;" src="{{if eq .Lang "en"}}{{.IMG_en}}{{else}}{{.IMG_pt}}{{end}}" alt="">
				</button>
			</div>
		</div>
	</div>
	<div id="mobile-menu"></div>
	<main class="w-full flex flex-col items-center justify-center px-4 md:px-2 lg:px-0 pt-24">
		{{template "hero" .}}
	</main>
</body>
<script>
	;(() => {
		const mobileMenuBtn = document.getElementById('mobile-menu-btn')
		const menuOverlay = document.getElementById('menu-overlay')
		const menuOverlayDivChildren = menuOverlay.querySelectorAll('div')
		const closeOverlayBtn = document.getElementById('close-overlay-btn')
		const toggleThemeBtn = document.getElementById('toggle-visualmode-btn')
		const toggleLangBtn = document.getElementById('toggle-lang-btn')
		const toggleThemeBtnMobile = document.getElementById('toggle-visualmode-btn-mobile')
		const toggleLangBtnMobile = document.getElementById('toggle-lang-btn-mobile')
		if (!mobileMenuBtn) {
			return console.error('mobile menu not found')
		}
		if (!menuOverlay) {
			return console.error('menu overlay not found')
		}
		if (!closeOverlayBtn) {
			return console.error('close overlay button not found')
		}
		if (!toggleThemeBtn) {
			return console.error('toggle theme button not found')
		}

		const toggleTheme = () => {
			if (queryParams.get('visualmode') === 'dark') {
				queryParams.set('visualmode', 'light')
			} else {
				queryParams.set('visualmode', 'dark')
			}
			window.location.href = '?' + queryParams.toString()
		}
		const toggleLang = () => {
			if (queryParams.get('lang') === 'en') {
				queryParams.set('lang', 'pt')
			} else {
				queryParams.set('lang', 'en')
			}
			window.location.href = '?' + queryParams.toString()
		}
		toggleThemeBtn.addEventListener('click', toggleTheme)
		toggleLangBtn.addEventListener('click', toggleLang)
		toggleThemeBtnMobile.addEventListener('click', () => {
			toggleTheme()
			hideMenu()
		})
		toggleLangBtnMobile.addEventListener('click', () => {
			toggleLang()
			hideMenu()
		})

		let isShowingMobileMenu = false
		mobileMenuBtn.addEventListener('click', () => {
			isShowingMobileMenu = !isShowingMobileMenu
			if (isShowingMobileMenu) {
				showMenu()
			} else {
				hideMenu()
			}
		})
		closeOverlayBtn.addEventListener('click', () => {
			hideMenu()
		})

		function hideMenu() {
			isShowingMobileMenu = false
			menuOverlay.style.background = 'transparent'
			closeOverlayBtn.style.opacity = '0'
			for (const el of menuOverlayDivChildren) {
				el.style.opacity = '0'
			}
			setTimeout(() => {
				mobileMenuBtn.style.opacity = '1'
			}, 50)
			setTimeout(() => {
				menuOverlay.style.display = 'none';
			}, 300)
		}
		function showMenu() {
			menuOverlay.style.display = 'block';
			mobileMenuBtn.style.opacity = '0'
			setTimeout(() => {
				menuOverlay.style.background = mode === 'dark' ? 'linear-gradient(#001020da, #00000090)' : 'linear-gradient(#00101eda, #000000d4)'
				closeOverlayBtn.style.opacity = '1'
				for (const el of menuOverlayDivChildren) {
					el.style.opacity = '1'
				}
			}, 10)
		}

		const toBeAnimated = document.querySelectorAll('.fade-in')
		if (!toBeAnimated) {
			return console.error('no elements to be animated')
		}
		function throttle(mainFunction, delay) {
			let timerFlag = null;
			return (...args) => {
				if (timerFlag === null) {
					mainFunction(...args);
						timerFlag = setTimeout(() => {
						timerFlag = null;
					}, delay);
				}
			};
		}
		const createDetector = (controller) => {
			let prev = false;
			return () => {
				for (const el of toBeAnimated) {
					const rect = el.getBoundingClientRect()
					const elTop = rect.top + window.scrollY
					const elBottom = rect.bottom + window.scrollY
					const scrollTop = window.scrollY + window.innerHeight - Math.floor(rect.height / 2)
					const isOnScreen = scrollTop >= elTop && scrollTop <= elBottom + window.innerHeight
					setTimeout(() => prev = isOnScreen, 40)
					if (isOnScreen && !prev) {
						console.log('entered', el, {elTop, elBottom, scrollTop, h: window.innerHeight})
						controller.entered(el)
					}
					if (prev && !isOnScreen) {
						console.log('left',  el, {elTop, elBottom, scrollTop, h: window.innerHeight})
						controller.left(el)
					}
				}
			}
		}

		const createController = () => {
			const animating = []
			let timeout;
			return {
				entered: (el) => {
					if (!animating.includes(el)) {
						animating.push(el)
						el.style.opacity = '1'
						el.style.translate = '0 0'
						timeout = setTimeout(() => animating.splice(animating.indexOf(el), 1), 1000)
					} else {
						// clearTimeout(timeout)
						// isAnimating = true
						// el.style.opacity = '1'
						// el.style.translate = '0 40px'
						// timeout = setTimeout(() => isAnimating = false, 300)
					}
				},
				left: (el) => {
					if (animating.includes(el)) {
						animating.push(el)
						el.style.opacity = '0'
						el.style.translate = '0 30px'
						timeout = setTimeout(() => animating.splice(animating.indexOf(el), 1), 1000)
					} else {
						// clearTimeout(timeout)
						// isAnimating = true
						// el.style.opacity = '0'
						// el.style.translate = '0 0'
						// timeout = setTimeout(() => isAnimating = false, 300)
					}
				}
			}
		}

		const onScreenDetection = createDetector(createController())
		setTimeout(onScreenDetection, 100)
		window.addEventListener('scroll', throttle(onScreenDetection, 50))
	})()
	// const modeSwitch = document.getElementById('mode-switch')
	// if (modeSwitch) {
	// 	modeSwitch.addEventListener('click', () => {
	// 		const visualMode = queryParams.get('visualmode')
	// 		if (!visualMode) {
	// 			localStorage.setItem('visualmode', 'dark')
	// 			queryParams.set('visualmode', 'dark')
	// 			window.location.href = '?' + queryParams.toString()
	// 			return
	// 		} else if (visualMode === 'dark') {
	// 			localStorage.setItem('visualmode', 'light')
	// 			queryParams.set('visualmode', 'light')
	// 			window.location.href = '?' + queryParams.toString()
	// 		} else {
	// 			localStorage.setItem('visualmode', 'dark')
	// 			queryParams.set('visualmode', 'dark')
	// 			window.location.href = '?' + queryParams.toString()
	// 		}
	// 	})
	// }
</script>
</html>
{{end}}